.box1 > p {
    color: red
    
}

.head{
        border-style: dotted;
        border-width: 5px;
        margin-top: 20px ;
        margin-right: 1em;
        margin-left:40px;
        margin-bottom: 2em;
        padding: 1em;
        background-color: yellow;
        text-align: right;
    }

.personal{
    height: 870px;
    width: 20%;
    border-style: solid;
    border-width: 5px;
    margin-right: 1em;
    margin-left:40px;
    padding: 1px;
    background-color: rgb(87, 87, 115);

}

.myproject{
    height: 870px;
    width: 80%;
    border-style: double;
    border-width: 5px;
    background-color: rgb(116, 109, 109);
    padding-left: 15px;
    padding-right: 15px;
   
}

.wrapper{
   display: flex;
   width: 100%;
}

body{
    background-color: rgb(39, 38, 47);
    font-family: Arial;
}

.projectheader{
    background-image: url(star.jpg);
    background-size: 50px 80px;
    border-style: solid;
    border-width: 1px;
    height: 10%;
    width: 100%
    
}
.projectwrapper{

    border-style: dashed;
    border-width: 1px;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}

.project{
    width:33%;
    height: 80%;
    border-style: ;
    margin:  10px;
    padding-left: 10px;
    background-color: rgba(12, 8, 2, 0.467);
    
}

.piwrapper{
    height: 100%;
    margin-top: 10;
    margin-bottom: 10px;
    border-style: solid;
}
.button{
    display: inline-block;
    border-style: solid ;
    height: 50px;
    width: 70px;
    text-align: center;
    padding-top: 20px;

}
.opening{
    text-shadow:
    8px 2px 8px red,
    2px 2px 1px red;
}
a:hover {
    text-decoration: none;
    background: #c7e8b3;
}

.project.textwrapper{
    background-color: aliceblue;
    height: 130px;
    width: 90%;
    margin-bottom: -1px;
    padding-top: 2px;
    overflow: auto;
    background-color: black;
    color: white;
}
.projectbutton{
    background-color: #b3dee8;
    height: 25px;
    width: 70%;
    margin-left: 40px;
    margin-top: 15px;
    text-align: center;
    padding-top: 9px;
    
}
.project {
    flex: 1;
}